# VITE_API_URL=http://192.168.1.4:3000/api
VITE_API_URL=https://api.gotra.my.id/api
VITE_WA_API_URL=/wa-api
VITE_WA_API_KEY=your_api_key_here
VITE_WA_USER=Gotrasoft
VITE_MAX_RETRY=0
VITE_CALENDAR_STALE_TIME=60000
# VITE_BASE_APP_URL is used to set the base URL for the application mostly for static assets
VITE_BASE_APP_URL=/
VITE_ROOM_ID=base-01
VITE_SOCKET_URL=https://realtime-data.gotrasoft.com

# KEY_ID=ak_live_gv1nlhdpkyetu25j

# secret=your_api_key_here
# Webhook signing secret=whsec_785fa6eaf00e12a9ff93390aed541771035fae5bac50f71c